header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    form {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}

label {
    display: block;
    margin-top: 1rem;
    margin-bottom: 10px;
}

.address {
    margin-top: 10px;
}

.modale {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title_employees_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}